<div style="color: White; padding: 2%;">
    <mat-card>
        <div style="text-align: center;">
            <circle-progress
                [percent]="85"
                [radius]="180"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"
                [titleColor]="'#000000'"
                [unitsColor]="'#000000'"
            ></circle-progress>
            <p>Python</p>
        </div>
        <div style="text-align: center;">
            <circle-progress
                [percent]="85"
                [radius]="180"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"
                [titleColor]="'#000000'"
                [unitsColor]="'#000000'"
            ></circle-progress>
            <p>Python</p>
        </div>
        <div style="text-align: center;">
            <circle-progress
                [percent]="85"
                [radius]="180"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"
                [titleColor]="'#000000'"
                [unitsColor]="'#000000'"
            ></circle-progress>
            <p>Python</p>
        </div>
        <div style="text-align: center;">
            <circle-progress
                [percent]="85"
                [radius]="180"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"
                [titleColor]="'#000000'"
                [unitsColor]="'#000000'"
            ></circle-progress>
            <p>Python</p>
        </div>
    </mat-card>        
</div>
