<app-title-card></app-title-card>

<div class="about-me">
    <h1 class="headers"><strong>About Me</strong></h1>
    <p class="content">An aspiring software engineer seeking an opportunity within a progressive organization where I can utilize my inquisitive mindset to gain
        experience and build upon my talents of communication, leadership, teamwork, and computer science skills. The opportunity to work
        alongside proven professionals will further enhance my aptitude of contributing to team and employer goals while utilizing programming
        and design projects to add to my current skill set is welcome.</p>

    <h1 class="headers" style="padding-top: 2%;"><strong>Education</strong></h1>
</div>
<app-education></app-education>
<app-content></app-content>
